







 .fl-node-5940f3f30e94a > .fl-row-content-wrap {
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
}
.fl-node-5940f3f30e963 {
	width: 16.65%;
}










		
		
.fl-node-5940f3f30e96b {
	width: 16.65%;
}










		
		
.fl-node-5940f3f30e973 {
	width: 16.65%;
}










		
		
.fl-node-5940f3f30e97b {
	width: 16.65%;
}










		
		
.fl-node-5940f3f30e983 {
	width: 9.12%;
}










		
		
.fl-node-5940f3f30e98b {
	width: 24.28%;
}










		
		
.fl-node-5940f3f30e9cd {
	width: 28.58%;
}










		
		
.fl-node-5940f3f30e9a4 {
	width: 43.28%;
}










		
		
.fl-node-5940f3f30e9ac {
	width: 28.14%;
}










		
		
 .fl-node-5940f3f30e993 > .fl-module-content {
	margin-top:20px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
}
.pp-photo-container .pp-photo-align-left {
    text-align: left;
}
.pp-photo-container .pp-photo-align-center {
    text-align: center;
}
.pp-photo-container .pp-photo-align-right {
    text-align: right;
}

.pp-photo {
	line-height: 0;
	position: relative;
}
.pp-photo-align-left {
	text-align: left;
}
.pp-photo-align-center {
	text-align: center;
}
.pp-photo-align-right {
	text-align: right;
}
.pp-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.pp-photo-content img {
	display: inline;
	max-width: 100%;
}
.pp-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.pp-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
    width: 100%;
}
.pp-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.pp-photo-caption-overlay {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.pp-overlay-wrap .pp-overlay-bg {
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-caption-hover {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-container .pp-photo-content:hover .pp-overlay-bg,
.pp-photo-container .pp-photo-content:hover .pp-photo-caption-hover {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.pp-photo-container a:focus {
    outline: none;
}
.pp-photo-container .pp-photo-content .pp-photo-content-inner {
    overflow: hidden;
    position: relative;
}
.fl-node-5940f3f30e9d6 .pp-photo-container .pp-photo-content {
    background: #ffffff;
    border-color: #cccccc;
    border-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-width: 1px;
        padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
.fl-node-5940f3f30e9d6 .pp-photo-container .pp-photo-content .pp-photo-content-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
.fl-node-5940f3f30e9d6 .pp-photo-container .pp-photo-content .pp-photo-content-inner a {
    display: block;
}
    .fl-node-5940f3f30e9d6 .pp-photo-container .pp-photo-content .pp-photo-content-inner img {
        border-color: #000000;        border-style: none;
        border-width: 1px;    }

.fl-node-5940f3f30e9d6 .pp-photo-caption {
            background: rgba(221, 221, 221, 0.5);
        color: #000000;
        font-size: 18px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.fl-node-5940f3f30e9d6 .pp-overlay-wrap .pp-overlay-bg {
    background: rgba(221, 221, 221, 0.5);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

@media only screen and ( max-width: 768px ) {
    .fl-node-5940f3f30e9d6 .pp-photo-caption {
        font-size: px;
        line-height: ;
    }
}

@media only screen and ( max-width: 480px ) {
    .fl-node-5940f3f30e9d6 .pp-photo-caption {
        font-size: px;
        line-height: ;
    }
}
 .fl-node-5940f3f30e9d6 > .fl-module-content {
	margin-top:21px;
	margin-right:0px;
	margin-bottom:5px;
	margin-left:5px;
}
@media (max-width: 768px) { .fl-node-5940f3f30e9d6 > .fl-module-content { margin-top:20px; } }.uabb-dual-button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.uabb-dual-button .uabb-dual-button-wrapper { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    max-width: 100%;
}

.uabb-dual-button .uabb-btn {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.uabb-btn-one .uabb-btn-one-text,
.uabb-btn-two .uabb-btn-two-text {
    color: inherit;
}

/* Global Horizontal Style */
.uabb-dual-button .uabb-btn-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    position: relative;
}
/* End Global Horizontal Style */

/* Middle Text */ 
.uabb-dual-button .uabb-middle-text {
    position: absolute;
    top: 50%;
    right: 0;
    height: 32px;
    line-height: 32px;
    width: 32px;
    z-index: 2;
    -webkit-transform: translate(50%,-50%);
       -moz-transform: translate(50%,-50%);
         -o-transform: translate(50%,-50%);
        -ms-transform: translate(50%,-50%);
            transform: translate(50%,-50%);
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

.uabb-dual-button .uabb-middle-text .uabb-icon i {
    line-height: inherit;
}


/* Remove Default icon csss */
.uabb-dual-button-wrapper .uabb-icon {
    display: block;
}

.uabb-dual-button .uabb-dual-button-one .uabb-btn.uabb-btn-one,
.uabb-dual-button .uabb-dual-button-two .uabb-btn.uabb-btn-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
}

/* Transparent Styles */
/* Fade Background */
.uabb-btn-one.uabb-transparent-fade,
.uabb-btn-two.uabb-transparent-fade {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

/* Transparent Style Common Classes */
.uabb-btn-one.uabb-transparent-fill-top,
.uabb-btn-two.uabb-transparent-fill-top,
.uabb-btn-one.uabb-transparent-fill-bottom,
.uabb-btn-two.uabb-transparent-fill-bottom,
.uabb-btn-one.uabb-transparent-fill-left,
.uabb-btn-two.uabb-transparent-fill-left,
.uabb-btn-one.uabb-transparent-fill-right,
.uabb-btn-two.uabb-transparent-fill-right,
.uabb-btn-one.uabb-transparent-fill-center,
.uabb-btn-two.uabb-transparent-fill-center,
.uabb-btn-one.uabb-transparent-fill-diagonal,
.uabb-btn-two.uabb-transparent-fill-diagonal,
.uabb-btn-one.uabb-transparent-fill-horizontal,
.uabb-btn-two.uabb-transparent-fill-horizontal {
    position: relative;
}

.uabb-btn-one.uabb-transparent-fill-top .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-top .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-bottom .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-bottom .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-left .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-left .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-right .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-right .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-center .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-center .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-diagonal .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-diagonal .uabb-btn-two-text,
.uabb-btn-one.uabb-transparent-fill-horizontal .uabb-btn-one-text,
.uabb-btn-two.uabb-transparent-fill-horizontal .uabb-btn-two-text {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.uabb-btn-one.uabb-transparent-fill-top:after,
.uabb-btn-two.uabb-transparent-fill-top:after,
.uabb-btn-one.uabb-transparent-fill-bottom:after,
.uabb-btn-two.uabb-transparent-fill-bottom:after,
.uabb-btn-one.uabb-transparent-fill-left:after,
.uabb-btn-two.uabb-transparent-fill-left:after,
.uabb-btn-one.uabb-transparent-fill-right:after,
.uabb-btn-two.uabb-transparent-fill-right:after,
.uabb-btn-one.uabb-transparent-fill-center:after,
.uabb-btn-two.uabb-transparent-fill-center:after,
.uabb-btn-one.uabb-transparent-fill-diagonal:after,
.uabb-btn-two.uabb-transparent-fill-diagonal:after,
.uabb-btn-one.uabb-transparent-fill-horizontal:after,
.uabb-btn-two.uabb-transparent-fill-horizontal:after {
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

/* Fill Background From Top */
.uabb-btn-one.uabb-transparent-fill-top:after,
.uabb-btn-two.uabb-transparent-fill-top:after {
    top: 0;
    width: 100%;
    height: 0;
    left: 0;
}

/* Fill Background From Bottom */
.uabb-btn-one.uabb-transparent-fill-bottom:after,
.uabb-btn-two.uabb-transparent-fill-bottom:after {
    bottom: 0;
    width: 100%;
    height: 0;
    left: 0;
}

/* Fill Background From Left */
.uabb-btn-one.uabb-transparent-fill-left:after,
.uabb-btn-two.uabb-transparent-fill-left:after {
    width: 0;
    top: 0;
    height: 100%;
    left: 0;
}

/* Fill Background From Right */
.uabb-btn-one.uabb-transparent-fill-right:after,
.uabb-btn-two.uabb-transparent-fill-right:after {
    width: 0;
    top: 0;
    height: 100%;
    right: 0;
}

/* Fill Background From Center */
.uabb-btn-one.uabb-transparent-fill-center:after,
.uabb-btn-two.uabb-transparent-fill-center:after {
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/* Fill Background From Diagonal */
.uabb-btn-one.uabb-transparent-fill-diagonal:after,
.uabb-btn-two.uabb-transparent-fill-diagonal:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}

.uabb-btn.uabb-transparent-fill-diagonal {
    display: inline-block;
    overflow: hidden;
}

/* Fill Background From Horizontal */
.uabb-btn-one.uabb-transparent-fill-horizontal:after,
.uabb-btn-two.uabb-transparent-fill-horizontal:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/* Flat Styles */

/* Common Classes styles */
.uabb-btn-one.uabb-animate_to_right,
.uabb-btn-two.uabb-animate_to_right,
.uabb-btn-one.uabb-animate_to_left,
.uabb-btn-two.uabb-animate_to_left,
.uabb-btn-one.uabb-animate_from_top,
.uabb-btn-two.uabb-animate_from_top,
.uabb-btn-one.uabb-animate_from_bottom,
.uabb-btn-two.uabb-animate_from_bottom {
    overflow: hidden;
    position: relative;
}

/* Image Icon Wrap common styles */
.uabb-btn-one.uabb-animate_to_right .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_to_right .uabb-imgicon-wrap,
.uabb-btn-one.uabb-animate_to_left .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_to_left .uabb-imgicon-wrap,
.uabb-btn-one.uabb-animate_from_top .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_from_top .uabb-imgicon-wrap,
.uabb-btn-one.uabb-animate_from_bottom .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_from_bottom .uabb-imgicon-wrap {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

/* Icon Image making vertically center */
.uabb-btn-one.uabb-animate_to_right i:before,
.uabb-btn-two.uabb-animate_to_right i:before,
.uabb-btn-one.uabb-animate_to_left i:before,
.uabb-btn-two.uabb-animate_to_left i:before,
.uabb-btn-one.uabb-animate_from_top i:before,
.uabb-btn-two.uabb-animate_from_top i:before,
.uabb-btn-one.uabb-animate_from_bottom i:before,
.uabb-btn-two.uabb-animate_from_bottom i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.uabb-btn-one.uabb-animate_to_right .uabb-image-simple,
.uabb-btn-two.uabb-animate_to_right .uabb-image-simple,
.uabb-btn-one.uabb-animate_to_left .uabb-image-simple,
.uabb-btn-two.uabb-animate_to_left .uabb-image-simple,
.uabb-btn-one.uabb-animate_from_top .uabb-image-simple,
.uabb-btn-two.uabb-animate_from_top .uabb-image-simple,
.uabb-btn-one.uabb-animate_from_bottom .uabb-image-simple,
.uabb-btn-two.uabb-animate_from_bottom .uabb-image-simple {
    height: 100%;
}

.uabb-btn-one.uabb-animate_to_right .uabb-image-content,
.uabb-btn-two.uabb-animate_to_right .uabb-image-content,
.uabb-btn-one.uabb-animate_to_left .uabb-image-content,
.uabb-btn-two.uabb-animate_to_left .uabb-image-content,
.uabb-btn-one.uabb-animate_from_top .uabb-image-content,
.uabb-btn-two.uabb-animate_from_top .uabb-image-content,
.uabb-btn-one.uabb-animate_from_bottom .uabb-image-content,
.uabb-btn-two.uabb-animate_from_bottom .uabb-image-content {
    top: 50%;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

/* Hiding Text For Custom */
.uabb-vertical-custom .uabb-btn-one.uabb-animate_to_right .uabb-btn-one-text,
.uabb-vertical-custom .uabb-btn-two.uabb-animate_to_right .uabb-btn-two-text,
.uabb-vertical-custom .uabb-btn-one.uabb-animate_to_left .uabb-btn-one-text,
.uabb-vertical-custom .uabb-btn-two.uabb-animate_to_left .uabb-btn-two-text,
.uabb-vertical-custom .uabb-btn-one.uabb-animate_from_top .uabb-btn-one-text,
.uabb-vertical-custom .uabb-btn-two.uabb-animate_from_top .uabb-btn-two-text,
.uabb-vertical-custom .uabb-btn-one.uabb-animate_from_bottom .uabb-btn-one-text,
.uabb-vertical-custom .uabb-btn-two.uabb-animate_from_bottom .uabb-btn-two-text {
    position: absolute;
    top: 0;
    left: 0;
}

/* Hiding Text common styles */
.uabb-btn-one.uabb-animate_to_right .uabb-btn-one-text,
.uabb-btn-two.uabb-animate_to_right .uabb-btn-two-text,
.uabb-btn-one.uabb-animate_to_left .uabb-btn-one-text,
.uabb-btn-two.uabb-animate_to_left .uabb-btn-two-text,
.uabb-btn-one.uabb-animate_from_top .uabb-btn-one-text,
.uabb-btn-two.uabb-animate_from_top .uabb-btn-two-text,
.uabb-btn-one.uabb-animate_from_bottom .uabb-btn-one-text,
.uabb-btn-two.uabb-animate_from_bottom .uabb-btn-two-text {
    /*display: inline-block;*/
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/* Animate Icon To Right */
.uabb-btn-one.uabb-animate_to_right .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_to_right .uabb-imgicon-wrap {
    left: -100%;
    top: 0;
}

/* Animate Icon To Left */
.uabb-btn-one.uabb-animate_to_left .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_to_left .uabb-imgicon-wrap {
    right: -100%;
    top: 0;
}

/* Animate Icon From Top */
.uabb-btn-one.uabb-animate_from_top .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_from_top .uabb-imgicon-wrap {
    top: -100%;
    left: 0;
}

/* Animate Icon From Bottom */
.uabb-btn-one.uabb-animate_from_bottom .uabb-imgicon-wrap,
.uabb-btn-two.uabb-animate_from_bottom .uabb-imgicon-wrap {
    bottom: -100%;
    left: 0;
}

/* Image Icon styling */
.uabb-dual-button-wrapper .uabb-imgicon-wrap .uabb-image-content,
.uabb-dual-button-wrapper .uabb-imgicon-wrap .uabb-icon-wrap {
    display: block;
}

.uabb-dual-button-wrapper .uabb-btn-img-icon {
    display: inline-block;
}

.uabb-btn-img-icon.before.uabb-btn-one-img-icon,
.uabb-btn-img-icon.before.uabb-btn-two-img-icon {
    float: left;
    z-index: 1;
}

.uabb-btn-img-icon.after.uabb-btn-one-img-icon,
.uabb-btn-img-icon.after.uabb-btn-two-img-icon {
    float: right;
    z-index: 1;
}


/* Vertical Button Styles */
.uabb-dual-button-wrapper.uabb-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
    
.uabb-dual-button-one.uabb-btn-vertical {
    position: relative;
}

.uabb-dual-button-wrapper.uabb-vertical .uabb-dual-button-one .uabb-middle-text {
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.uabb-dual-button-wrapper.uabb-vertical {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* IE 9 Fix */
.internet-explorer9 .uabb-dual-button .uabb-btn-horizontal,
.internet-explorer8 .uabb-dual-button .uabb-btn-horizontal {
    float: left;
}
.internet-explorer9 .uabb-module-content .uabb-horizontal-custom .uabb-btn,
.internet-explorer8 .uabb-module-content .uabb-horizontal-custom .uabb-btn {
    min-height: auto;
    padding: 10px 15px;
}/* Global Style */

/* Divider Styles */
.fl-node-5940f3f30e9b4 .uabb-middle-text {
	color: #428bca;
	background: #ffffff;
		border-radius: 50px;

	
	/* Calculated Divider Setting */
    
    
	overflow:hidden;
}

/* Button general settings */
	.fl-node-5940f3f30e9b4 .uabb-dual-button {
		justify-content: flex-end;
	}

/* Button Full Width */

/* Button Custom Width and Else Padding */
		.fl-node-5940f3f30e9b4 .uabb-dual-button .uabb-dual-button-wrapper {
		width: 240px;
	}
	
	.fl-node-5940f3f30e9b4 .uabb-btn.uabb-btn-one,
	.fl-node-5940f3f30e9b4 .uabb-btn.uabb-btn-two {
		
		min-height: 40px;
			}

/* General Radius */


/* General Border Only for Transparent */

/* Default Styles Button Text and Backgrund Styles */
/* Button 1 */
.fl-node-5940f3f30e9b4 .uabb-btn-one {
	background: #48144a;
	display: block;
}

.fl-node-5940f3f30e9b4 .uabb-btn-one .uabb-btn-one-text,
.fl-node-5940f3f30e9b4 .uabb-btn-one .uabb-imgicon-wrap .uabb-icon i {
	color: #ffffff;
}

/* Button 2 */
.fl-node-5940f3f30e9b4 .uabb-btn-two {
	background: #48144a;
	display: block;
}

.fl-node-5940f3f30e9b4 .uabb-btn-two .uabb-btn-two-text,
.fl-node-5940f3f30e9b4 .uabb-btn-two .uabb-imgicon-wrap .uabb-icon i {
	color: #ffffff;
}



/************* Global Hover Styles *****************/

	/* Button Text and Backgrund Hover Styles */
	.fl-node-5940f3f30e9b4 .uabb-btn-one:hover {
		background: #428bca;
	}

	.fl-node-5940f3f30e9b4 .uabb-btn-one:hover .uabb-btn-one-text,
	.fl-node-5940f3f30e9b4 .uabb-btn-one:hover .uabb-imgicon-wrap .uabb-icon i {
		color: #ffffff;
	}

	/* Button Two Hover Style */
	.fl-node-5940f3f30e9b4 .uabb-btn-two:hover {
		background: #428bca;
	}

	.fl-node-5940f3f30e9b4 .uabb-btn-two:hover .uabb-btn-two-text,
	.fl-node-5940f3f30e9b4 .uabb-btn-two:hover .uabb-imgicon-wrap .uabb-icon i {
		color: #ffffff;
	}


/************** Global Hover Style Ends **************/

/************************************ End of Global Style ************************************/

/* Horizontal Style */

	.fl-node-5940f3f30e9b4 .uabb-horizontal .uabb-btn.uabb-btn-one {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.fl-node-5940f3f30e9b4 .uabb-horizontal .uabb-btn.uabb-btn-two {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

			.fl-node-5940f3f30e9b4 .uabb-dual-button .uabb-btn-horizontal {
		    width: 50%;
		}
	

/************************************ End of Horizontal Style ************************************/

/* Vertical Style */

/************************************ End of Vertical Style ************************************/

/* Transparent Styles - Button Text and Backgrund Styles */


/* Gradient Styles - Button Text and Backgrund Styles */



/* Flat Styles - Button Text and Backgrund Styles */






/* Image Icon Styling */


/* Horizontal Responsive */

/*Responsive Horizontal Style */
@media ( max-width: 768px ) {

			.fl-node-5940f3f30e9b4 .uabb-dual-button .uabb-btn-horizontal {
		    width: 100%;
		}
	
	.fl-node-5940f3f30e9b4 .uabb-dual-button .uabb-horizontal {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.fl-node-5940f3f30e9b4 .uabb-dual-button .uabb-middle-text {
		top: 100%;
		left: 50%;
		right: auto;
		webkit-transform: translate(-50%,-50%);
    	  -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
           -ms-transform: translate(-50%,-50%);
               transform: translate(-50%,-50%);
	}

	.fl-node-5940f3f30e9b4 .uabb-horizontal .uabb-btn.uabb-btn-one {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.fl-node-5940f3f30e9b4 .uabb-horizontal .uabb-btn.uabb-btn-two {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	
	
}





/* Typography responsive layout starts here */

/* Typography responsive layout Ends here */
 .fl-node-5940f3f30e9b4 > .fl-module-content {
	margin-right:0px;
	margin-left:0px;
}
.pp-social-icons .pp-social-icon {
	display: inline-block;
	line-height: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Left */
.pp-social-icons-left {
	text-align: left;
}

/* Center */
.pp-social-icons-center {
	text-align: center;
}

/* Right */
.pp-social-icons-right {
	text-align: right;
}
.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon {
	}

.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon a,
.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon a:hover {
	text-decoration: none;
}

.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon a {
	display: inline-block;
	height: 18px;
	width: 18px;
}

.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon i {
	float: left;
	color: #;
	background: #;
	border-radius: 100px;
	font-size: 16px;
	height: 18px;
	width: 18px;
	line-height: 32px;
	text-align: center;
}

.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon i:hover,
.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon a:hover i {
	color: #;
	background: #;
}

			.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(1) i {
						color: #ffffff;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(1) i:hover,
		.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(1) a:hover i {
						color: #;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(2) i {
						color: #ffffff;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(2) i:hover,
		.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(2) a:hover i {
						color: #;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(3) i {
						color: #ffffff;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(3) i:hover,
		.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(3) a:hover i {
						color: #;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(4) i {
						color: #ffffff;
									background: #;
					}
				.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(4) i:hover,
		.fl-node-5940f3f30e9bd .fl-module-content .pp-social-icon:nth-child(4) a:hover i {
						color: #;
									background: #;
					}
	
/* Left */
.fl-node-5940f3f30e9bd .pp-social-icons-left .pp-social-icon {
	margin-right: 10px;
}

/* Center */
.fl-node-5940f3f30e9bd .pp-social-icons-center .pp-social-icon {
	margin-left: 10px;
	margin-right: 10px;
}

/* Right */
.fl-node-5940f3f30e9bd .pp-social-icons-right .pp-social-icon {
	margin-left: 10px;
}

@media only screen and (max-width: 768px) {
	/* Left */
	.fl-node-5940f3f30e9bd .pp-responsive-left .pp-social-icon {
		margin-right: 10px;
	}

	/* Center */
	.fl-node-5940f3f30e9bd .pp-responsive-center .pp-social-icon {
		margin-left: 10px;
		margin-right: 10px;
	}

	/* Right */
	.fl-node-5940f3f30e9bd .pp-responsive-center .pp-social-icon {
		margin-left: 10px;
	}
}
 .fl-node-5940f3f30e9bd > .fl-module-content {
	margin-top:20px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.fl-menu ul,
.fl-menu li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-menu .menu:before,
.fl-menu .menu:after{
	content: '';
	display: table;
	clear: both;
}

/* Horizontal menus */
.fl-menu .menu{
	position: relative;
}	
.fl-menu li{
	position: relative;
}
.fl-menu a{
	display: block;
	padding: 10px;
	line-height: 1;
	text-decoration: none;
}
.fl-menu a:hover{
	text-decoration: none;	
}
.fl-menu .sub-menu{ 
	min-width: 220px;
}

/* Expanded menus */
.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

/* Submenus */
.fl-menu .fl-has-submenu:focus,
.fl-menu .fl-has-submenu .sub-menu:focus,
.fl-menu .fl-has-submenu-container:focus {
	outline: 0;
}
.fl-menu .fl-has-submenu-container{ position: relative; }
.fl-menu .fl-has-submenu-container a{ padding-right: 38px; }

/* Submenu - accordion, expanded */
.fl-menu .fl-menu-accordion .fl-has-submenu > .sub-menu{
	display: none;
}

/* Toggle - General */
.fl-menu .fl-menu-toggle{
	position: absolute;
	top: 50%;
	right: 0;
	cursor: pointer;
}
.fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
.fl-menu .fl-toggle-none .fl-menu-toggle:before{
	border-color: #333;
}
.fl-menu .fl-menu-expanded .fl-menu-toggle{
	display: none;
}

/* Mobile menu - hamburger icon */
.fl-menu .fl-menu-mobile-toggle {
	position: relative;
	padding: 8px;
	background-color: transparent;
	border: none;
	color: #333;
	border-radius: 0;
}
.fl-menu .fl-menu-mobile-toggle.text{
	width: 100%;
	text-align: center;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .svg-container,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container{
	display: inline-block;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect,
.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect{
	fill: currentColor;
}@media (max-width: 768px) { 
/* Horizontal menus */
.fl-menu-horizontal {
	text-align: left;
}

/* Submenus */
.fl-module[data-node] .fl-menu .sub-menu {
	background-color: transparent;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
} }.fl-node-5940f3f30e9c5 .fl-menu .menu, 
.fl-node-5940f3f30e9c5 .fl-menu .menu > li {
	font-size: 14px;text-transform: none;}
.fl-node-5940f3f30e9c5 .fl-menu{
	text-align: right;
}
.fl-node-5940f3f30e9c5 .fl-menu .sub-menu {
	background-color: #ffffff;background-color: rgba(255,255,255,1);-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.1);-ms-box-shadow: 0 1px 20px rgba(0,0,0,0.1);box-shadow: 0 1px 20px rgba(0,0,0,0.1);}
	.fl-node-5940f3f30e9c5 .fl-menu .fl-menu-toggle:before{
		content: '';
		position: absolute;
		right: 50%;
		top: 50%;
		z-index: 1;
		display: block;
		width: 9px;
		height: 9px;
		margin: -5px -5px 0 0;
		border-right: 2px solid;
		border-bottom: 2px solid;
		-webkit-transform-origin: right bottom;
			-ms-transform-origin: right bottom;
			    transform-origin: right bottom;
		-webkit-transform: translateX( -5px ) rotate( 45deg );
			-ms-transform: translateX( -5px ) rotate( 45deg );
				transform: translateX( -5px ) rotate( 45deg );
	}
	.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle{
		-webkit-transform: rotate( -180deg );
			-ms-transform: rotate( -180deg );
				transform: rotate( -180deg );
	}

			.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu-container a{
			padding-right: 26px;
		}
	
				.fl-node-5940f3f30e9c5 .menu .fl-has-submenu .sub-menu{
			display: none;
		}
	
	.fl-node-5940f3f30e9c5 .fl-menu li{
		border-top: 1px solid transparent;
	}
	.fl-node-5940f3f30e9c5 .fl-menu li:first-child{
		border-top: none;
	}

		
	@media ( min-width: 768px ) {
		
							.fl-node-5940f3f30e9c5 .menu > li{ float: left; }

			.fl-node-5940f3f30e9c5 .menu li{
				border-left: 1px solid transparent;
				border-top: none;
			}

			.fl-node-5940f3f30e9c5 .menu li:first-child{
				border: none;
			}
			.fl-node-5940f3f30e9c5 .menu li li{
				border-top: 1px solid transparent;
				border-left: none;
			}

			.fl-node-5940f3f30e9c5 .menu .fl-has-submenu .sub-menu{
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 10;
				visibility: hidden;
				opacity: 0;
				text-align:left;
			}

			.fl-node-5940f3f30e9c5 .fl-has-submenu .fl-has-submenu .sub-menu{
				top: 0;
				left: 100%;
			}

							.fl-node-5940f3f30e9c5 .fl-menu .menu{
					float: right;				}
			
				
				
			.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu:hover > .sub-menu,
			.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu.focus > .sub-menu{
				display: block;
				visibility: visible;
				opacity: 1;
			}

			.fl-node-5940f3f30e9c5 .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
				top: 100%;
				left: inherit;
				right: 0;
			}

			.fl-node-5940f3f30e9c5 .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu{
				top: 0;
				left: inherit;
				right: 100%;
			}

			.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle{
				-webkit-transform: none;
					-ms-transform: none;
						transform: none;
			}

						
							.fl-node-5940f3f30e9c5 .fl-menu .fl-has-submenu-container a{
					padding-right: 12px;
				}
				.fl-node-5940f3f30e9c5 .fl-menu .fl-menu-toggle{
					display: none;
				}
			
		
					.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle{
				display: none;
			}
		
	}

.fl-node-5940f3f30e9c5 .menu a{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.fl-builder-content .fl-node-5940f3f30e9c5 .menu > li > a,
.fl-builder-content .fl-node-5940f3f30e9c5 .menu > li > .fl-has-submenu-container > a,
.fl-builder-content .fl-node-5940f3f30e9c5 .sub-menu > li > a,
.fl-builder-content .fl-node-5940f3f30e9c5 .sub-menu > li > .fl-has-submenu-container > a{
	color: #ffffff;
	}

			
				.fl-node-5940f3f30e9c5 .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,
		.fl-node-5940f3f30e9c5 .fl-menu .fl-toggle-none .fl-menu-toggle:before {
			border-color: #ffffff;
		}
			

	.fl-node-5940f3f30e9c5 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a{
		padding-right: 26px;
	}
	.fl-node-5940f3f30e9c5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5940f3f30e9c5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle{
		width: 25px;
		height: 25px;
		margin: -12.5px 0 0;
	}
	.fl-node-5940f3f30e9c5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5940f3f30e9c5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,
	.fl-node-5940f3f30e9c5 .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,
	.fl-node-5940f3f30e9c5 .fl-menu-vertical.fl-toggle-none .fl-menu-toggle{
		width: 26px;
		height: 25px;
		margin: -12.5px 0 0;
	}
			.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle{
			float: right;		}
	
	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle{
		font-size: 14px;text-transform: none;color: #ffffff;		padding-left: 12px;
		padding-right: 12px;
		padding-top: 14px;
		padding-bottom: 14px;
		border-color: rgba( 0,0,0,0.1 );
	}
	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle rect{
		fill: #ffffff;	}
	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle:hover,
	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle.fl-active{
			}

	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle:hover rect,
	.fl-node-5940f3f30e9c5 .fl-menu-mobile-toggle.fl-active rect{
			}

 .fl-node-5940f3f30e9c5 > .fl-module-content {
	margin-top:5px;
	margin-right:0px;
	margin-bottom:5px;
	margin-left:5px;
}

		
/* Column Extended Settings CSS*/

				
				
				
				
				
				
				
				
				
/* Column End Extended Settings CSS*/
/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1
}

.uabb-top-row-separator {
    top: -1px;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: -1px
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -1px;
    top: auto;
    width: 100%;
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
     -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *
 ***************************************/

.uabb-row-separator.uabb-cloud-separator svg {
    left: -1px;
    width: 100%;
}

.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-row-separator.uabb-round-split {
    z-index: 1;
    /*position: relative;*/

}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    z-index: 10;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
    color: #333;
}*/

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}






/*  Translate Button styles */
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container, 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container, 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container,
.uabb-adv-accordion-content .mejs-container {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
	
	 
	
	
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
	 
	
			
	
	
	
	}


/* Responsive Js Breakpoint Css */

#uabb-js-breakpoint { 
	content:"default"; 
	display:none;
}
@media screen and (max-width: 992px) {
	#uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	#uabb-js-breakpoint {
		content:"768";
	}
}



                                                                                                                .fl-node-5940f3f30e94a > .fl-row-content-wrap {
                        background-color: #32005e;
                        background-image: -webkit-linear-gradient(315deg, #32005e 0%, #d61313 100%);
                        background-image: -moz-linear-gradient(135deg, #32005e 0%, #d61313 100%);
                        background-image: -o-linear-gradient(135deg, #32005e 0%, #d61313 100%);
                        background-image: -ms-linear-gradient(135deg, #32005e 0%, #d61313 100%);
                        background-image: linear-gradient(135deg, #32005e 0%, #d61313 100%);
                    }
                                                        
        
                                
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        
        
        
                                            
        .fl-node-5940f3f30e963 .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e96b .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e973 .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e97b .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e983 .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e98b .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e9cd .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e9a4 .fl-col-content {
                                                                                                }

        
        .fl-node-5940f3f30e9ac .fl-col-content {
                                                                                                }

        
        
            .fl-node-5940f3f30e963 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e96b .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e973 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e97b .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e983 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e98b .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e9cd .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e9a4 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-5940f3f30e9ac .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        