/* Grid
------------------------------------------------------ */

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
	display: table;
	content: " ";
}
.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
	clear: both;
}
.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
	zoom:1;
}
.fl-clear {
	clear: both;
}

/* Utilities
------------------------------------------------------ */

.fl-clearfix:before,
.fl-clearfix:after {
	display: table;
	content: " ";
}
.fl-clearfix:after {
	clear: both;
}
.fl-clearfix {
	zoom:1;
}

/* Responsive Utilities
------------------------------------------------------ */

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}

/* Rows
------------------------------------------------------ */

.fl-row,
.fl-row-content {
	margin-left: auto;
	margin-right: auto;
}
.fl-row-content-wrap {
	position: relative;
}

/* Photo Bg */
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
	background-attachment: scroll;
}

/* Video Bg */
.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
	position: relative;
}
.fl-row-bg-video .fl-bg-video {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.fl-row-bg-video .fl-bg-video video {
	bottom: 0;
	left: 0px;
	position: absolute;
	right: 0;
	top: 0px;
}
.fl-row-bg-video .fl-bg-video iframe {
	pointer-events: none;
	width: 100vw;
  	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  	max-width: none;
  	min-height: 100vh;
  	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.fl-bg-video-fallback {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Slideshow Bg */
.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
	position: relative;
}
.fl-row .fl-bg-slideshow {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.fl-builder-edit .fl-row .fl-bg-slideshow * {
	bottom: 0;
	height: auto !important;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;
}

/* Row Bg Overlay */
.fl-row-bg-overlay .fl-row-content-wrap:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-row-bg-overlay .fl-row-content {
	position: relative;
	z-index: 1;
}

/* Full Height Rows */
.fl-row-full-height .fl-row-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;	
	min-height: 100vh;
	
}
.fl-row-full-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-row-full-height .fl-row-full-width.fl-row-content {
	max-width: 100%;
	width: 100%;
}

/* Stupid IE Full Height Row Fixes */
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap {
	height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content {
	flex: 0 0 auto;
	flex-basis: 100%;
	margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {	
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align center */
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 1024px;
  }
}

/* Full height iPad with landscape orientation. */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 768px;
  }
}

/* Full height iPhone 5. You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 500px;
  }
}

/* Column Groups
------------------------------------------------------ */

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fl-col-group-equal-height{
    -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
}
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-col-group-equal-height .fl-col-content{
	    -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			   flex-shrink: 1;
			     min-width: 1px;
            	 max-width: 100%;
            	 	 width: 100%;
}
.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after{
	content: none;
}

/* Equal height align center */
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Equal height align bottom */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	width: 100%;
}

/* IE11 fix for images with height:auto in equal height columns. */
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group  {
	min-height: 1px;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	float: left;
	min-height: 1px;
}

/* Column Bg Overlay */
.fl-col-bg-overlay .fl-col-content {
	position: relative;
}
.fl-col-bg-overlay .fl-col-content:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-col-bg-overlay .fl-module {
	position: relative;
	z-index: 2;
}

/* Modules
------------------------------------------------------ */

.fl-module img {
	max-width: 100%;
} 

/* Module Templates
------------------------------------------------------ */

.fl-builder-module-template {
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;
}

/* Buttons
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: none;
}
.fl-builder-content .fl-button:hover {
	text-decoration: none;
}
.fl-builder-content .fl-button:active {
	position: relative;
	top: 1px;
}
.fl-builder-content .fl-button-width-full .fl-button {
	display: block;
	text-align: center;
}
.fl-builder-content .fl-button-width-custom .fl-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.fl-builder-content .fl-button-left {
	text-align: left;
}
.fl-builder-content .fl-button-center {
	text-align: center;
}
.fl-builder-content .fl-button-right {
	text-align: right;
}
.fl-builder-content .fl-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.fl-builder-content .fl-button i.fl-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.fl-builder-content .fl-button-has-icon .fl-button-text {
	vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.fl-icon-wrap {
	display: inline-block;
}
.fl-icon {
	display: table-cell;
	vertical-align: middle;
}
.fl-icon a {
	text-decoration: none;
}
.fl-icon i {
	float: left;
}
.fl-icon i:before {
	border: none !important;
}
.fl-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.fl-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.fl-icon-text a {
	text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.fl-photo {
	line-height: 0;
	position: relative;
}
.fl-photo-align-left {
	text-align: left;
}
.fl-photo-align-center {
	text-align: center;
}
.fl-photo-align-right {
	text-align: right;
}
.fl-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.fl-photo-img-svg {
	width: 100%;
}
.fl-photo-content img {
	display: inline;
	height: auto;
	max-width: 100%;
}
.fl-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fl-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.fl-photo-caption-hover {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.fl-photo-content:hover .fl-photo-caption-hover {
	opacity: 100;
	filter: alpha(opacity = 100);
}

/* Pagination
------------------------------------------------------ */

.fl-builder-pagination {
	padding: 40px 0;
}
.fl-builder-pagination ul.page-numbers {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.fl-builder-pagination li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
	border: 1px solid #e6e6e6;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 0 5px;
}
.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
	background: #f5f5f5;
	text-decoration: none;
}

/* Slideshows
------------------------------------------------------ */

.fl-slideshow,
.fl-slideshow * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
.fl-slideshow .fl-slideshow-image img {
	max-width: none !important;
}
.fl-slideshow-social {
	line-height: 0 !important;
}
.fl-slideshow-social * {
	margin: 0 !important;
}

/* Sliders
------------------------------------------------------ */

.fl-builder-content .bx-wrapper .bx-viewport {
	background: transparent;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	left: 0;
}

/* Lightbox
------------------------------------------------------ */

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active, 
.mfp-wrap button.mfp-arrow:hover, 
.mfp-wrap button.mfp-arrow:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 50%;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
	top: 32px!important;
}
img.mfp-img {
	padding: 0;
}
.mfp-counter {
	display: none;
}

.mfp-wrap .mfp-preloader.fa {
	font-size: 30px;
}

/* Form Fields
------------------------------------------------------ */

.fl-form-field {
	margin-bottom: 15px;
}
.fl-form-field input.fl-form-error {
	border-color: #DD6420;
}
.fl-form-error-message {
	clear: both;
	color: #DD6420;
	display: none;
	padding-top: 8px;
	font-size: 12px;
	font-weight: lighter;
}
.fl-form-button-disabled {
	opacity: 0.5;
}

/* Animations
------------------------------------------------------ */

.fl-animation {
	opacity: 0;
}
.fl-builder-mobile .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
	opacity: 1;
}

/* Fade In */
.fl-animated.fl-fade-in {
	animation: fl-fade-in 1s ease-out;
	-webkit-animation: fl-fade-in 1s ease-out;
	-moz-animation: fl-fade-in 1s ease-out;
}
@keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }        
}
@-webkit-keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }        
}
@-moz-keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }        
}

/* Slide Left */
.fl-animated.fl-slide-left {
	animation: fl-slide-left 1s ease-out;
	-webkit-animation: fl-slide-left 1s ease-out;
	-moz-animation: fl-slide-left 1s ease-out;
}
@keyframes fl-slide-left {
	0% { opacity: 0; transform: translateX(10%); }          
	100% { opacity: 1; transform: translateX(0%); }
}
@-webkit-keyframes fl-slide-left {
	0% { opacity: 0; -webkit-transform: translateX(10%); }          
	100% { opacity: 1; -webkit-transform: translateX(0%); }
}
@-moz-keyframes fl-slide-left {
	0% { opacity: 0; -moz-transform: translateX(10%); }         
	100% { opacity: 1; -moz-transform: translateX(0%); }
}

/* Slide Right */
.fl-animated.fl-slide-right {
	animation: fl-slide-right 1s ease-out;
	-webkit-animation: fl-slide-right 1s ease-out;
	-moz-animation: fl-slide-right 1s ease-out;
}
@keyframes fl-slide-right {
	0% { opacity: 0; transform: translateX(-10%); }         
	100% { opacity: 1; transform: translateX(0%); }
}
@-webkit-keyframes fl-slide-right {
	0% { opacity: 0; -webkit-transform: translateX(-10%); }         
	100% { opacity: 1; -webkit-transform: translateX(0%); }
}
@-moz-keyframes fl-slide-right {
	0% { opacity: 0; -moz-transform: translateX(-10%); }            
	100% { opacity: 1; -moz-transform: translateX(0%); }
}

/* Slide Up */
.fl-animated.fl-slide-up {
	animation: fl-slide-up 1s ease-out;
	-webkit-animation: fl-slide-up 1s ease-out;
	-moz-animation: fl-slide-up 1s ease-out;
}
@keyframes fl-slide-up {
	0% { opacity: 0; transform: translateY(10%); }          
	100% { opacity: 1; transform: translateY(0%); }
}
@-webkit-keyframes fl-slide-up {
	0% { opacity: 0; -webkit-transform: translateY(10%); }          
	100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes fl-slide-up {
	0% { opacity: 0; -moz-transform: translateY(10%); }         
	100% { opacity: 1; -moz-transform: translateY(0%); }
}

/* Slide Down */
.fl-animated.fl-slide-down {
	animation: fl-slide-down 1s ease-out;
	-webkit-animation: fl-slide-down 1s ease-out;
	-moz-animation: fl-slide-down 1s ease-out;
}
@keyframes fl-slide-down {
	0% { opacity: 0; transform: translateY(-10%); }         
	100% { opacity: 1; transform: translateY(0%); }
}
@-webkit-keyframes fl-slide-down {
	0% { opacity: 0; -webkit-transform: translateY(-10%); }         
	100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes fl-slide-down {
	0% { opacity: 0; -moz-transform: translateY(-10%); }            
	100% { opacity: 1; -moz-transform: translateY(0%); }
}

/* Button Icon Animation */
.fl-button.fl-button-icon-animation i {
	width: 0 !important;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.fl-button.fl-button-icon-animation:hover i {
	opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {
	margin-left: 0px !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
	margin-left: 10px !important;
}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {
	margin-right: 0 !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
	margin-right: 20px !important;
    margin-left: -10px;
}

/* Templates
------------------------------------------------------ */

.single:not(.woocommerce).single-fl-builder-template .fl-content {
	width: 100%;
}
.fl-row-content-wrap { margin: 0px; }.fl-row-content-wrap { padding: 20px; }.fl-row-fixed-width { max-width: 1100px; }.fl-module-content { margin: 20px; }@media (max-width: 992px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-mobile,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col {
	display: block;
} }@media (max-width: 768px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col {
	display: none;
}
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: block;
}

/* Rows
------------------------------------------------------ */

.fl-row-content-wrap {
	background-attachment: scroll !important;
}
.fl-row-bg-parallax .fl-row-content-wrap {
	background-attachment: scroll !important;
	background-position: center center !important;
}

/* Column Groups
------------------------------------------------------ */

/* Equal Heights */
.fl-col-group.fl-col-group-equal-height {
	display: block;
}
.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Reversed Responsive Stacking */
.fl-col-group.fl-col-group-responsive-reversed {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-ms-box-orient: horizontal;
	-webkit-flex-flow: row wrap;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) { 
	-webkit-box-ordinal-group: 12;   /* OLD - iOS 6-, Safari 3.1-6 */
  	-moz-box-ordinal-group: 12;      /* OLD - Firefox 19- */
  	-ms-flex-order: 12;              /* TWEENER - IE 10 */
  	-webkit-order: 12;               /* NEW - Chrome */
	order: 12; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) { 
	-webkit-box-ordinal-group: 11;
  	-moz-box-ordinal-group: 11;
  	-ms-flex-order: 11;
  	-webkit-order: 11;
	order: 11;	
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) { 
	-webkit-box-ordinal-group: 10;
  	-moz-box-ordinal-group: 10;
  	-ms-flex-order: 10;
  	-webkit-order: 10;
	order: 10; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) { 
	-webkit-box-ordinal-group: 9;
  	-moz-box-ordinal-group: 9;
  	-ms-flex-order: 9;
  	-webkit-order: 9;
	order: 9; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) { 
	-webkit-box-ordinal-group: 8;
  	-moz-box-ordinal-group: 8;
  	-ms-flex-order: 8;
  	-webkit-order: 8;
	order: 8; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) { 
	-webkit-box-ordinal-group: 7;
  	-moz-box-ordinal-group: 7;
  	-ms-flex-order: 7;
  	-webkit-order: 7;
	order: 7; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) { 
	-webkit-box-ordinal-group: 6;
  	-moz-box-ordinal-group: 6;
  	-ms-flex-order: 6;
  	-webkit-order: 6;
	order: 6; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) { 
	-webkit-box-ordinal-group: 5;
  	-moz-box-ordinal-group: 5;
  	-ms-flex-order: 5;
  	-webkit-order: 5;
	order: 5; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) { 
	-webkit-box-ordinal-group: 4;
  	-moz-box-ordinal-group: 4;
  	-ms-flex-order: 4;
  	-webkit-order: 4;
	order: 4; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) { 
	-webkit-box-ordinal-group: 3;
  	-moz-box-ordinal-group: 3;
  	-ms-flex-order: 3;
  	-webkit-order: 3;
	order: 3; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) { 
	-webkit-box-ordinal-group: 2;
  	-moz-box-ordinal-group: 2;
  	-ms-flex-order: 2;
  	-webkit-order: 2;
	order: 2; 
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
	-webkit-box-ordinal-group: 1;
  	-moz-box-ordinal-group: 1;
  	-ms-flex-order: 1;
  	-webkit-order: 1;
  	order: 1;  
}

/* Columns
------------------------------------------------------ */

.fl-col {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: auto !important;
}
.fl-col-small {
	max-width: 400px;
}
.fl-block-col-resize {
	display:none;
}/* Rows
------------------------------------------------------ */

.fl-row[data-node] .fl-row-content-wrap {
	border-left: none;
	border-right: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.fl-row[data-node] .fl-bg-video,
.fl-row[data-node] .fl-bg-slideshow {
	left: 0;
	right: 0;
}

/* Columns
------------------------------------------------------ */

.fl-col[data-node] .fl-col-content {
	border-left: none;
	border-right: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
} }.page .fl-post-header, .single-fl-builder-template .fl-post-header { display:none; }






.fl-node-590ffe4898e9d > .fl-row-content-wrap {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.fl-builder-mobile .fl-node-590ffe4898e9d > .fl-row-content-wrap {
	background-image: url(http://springfox.dev/app/uploads/2017/05/springfox_aboutus.jpg);
	background-attachment: scroll;
	background-position: center center;
}

 .fl-node-590ffe4898e9d > .fl-row-content-wrap {
	padding-top:170px;
	padding-bottom:170px;
}




.fl-node-590ffeba6a70c > .fl-row-content-wrap {
	background-color: #e5e5e5;
	background-color: rgba(229,229,229, 1);
}
















.fl-node-590fff847dc35 > .fl-row-content-wrap {
	background-color: #e5e5e5;
	background-color: rgba(229,229,229, 1);
}

.fl-node-590fff847dc35 > .fl-row-content-wrap {
	background-image: url(http://springfox.dev/app/uploads/2017/05/springfox_team.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-size: contain;
}



 .fl-node-590fff847dc35 > .fl-row-content-wrap {
	padding-bottom:150px;
}













.fl-node-591d0f747762a > .fl-row-content-wrap {
	background-image: url(http://springfox.dev/app/uploads/2017/05/springfox_table.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}











 .fl-node-591d19919d26d > .fl-row-content-wrap {
	padding-bottom:0px;
}
.fl-node-591d199b0aae4 {
	color: #ffffff;
}
.fl-builder-content .fl-node-591d199b0aae4 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-heading-text):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-591d199b0aae4 a {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d199b0aae4 a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d199b0aae4 h1,
.fl-builder-content .fl-node-591d199b0aae4 h2,
.fl-builder-content .fl-node-591d199b0aae4 h3,
.fl-builder-content .fl-node-591d199b0aae4 h4,
.fl-builder-content .fl-node-591d199b0aae4 h5,
.fl-builder-content .fl-node-591d199b0aae4 h6,
.fl-builder-content .fl-node-591d199b0aae4 h1 a,
.fl-builder-content .fl-node-591d199b0aae4 h2 a,
.fl-builder-content .fl-node-591d199b0aae4 h3 a,
.fl-builder-content .fl-node-591d199b0aae4 h4 a,
.fl-builder-content .fl-node-591d199b0aae4 h5 a,
.fl-builder-content .fl-node-591d199b0aae4 h6 a {
	color: #ffffff;
}

.fl-node-591d199b0aae4 > .fl-row-content-wrap {
	background-color: #333333;
	background-color: rgba(51,51,51, 1);
}




.fl-node-591d19a40ea59 {
	color: #ffffff;
}
.fl-builder-content .fl-node-591d19a40ea59 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-heading-text):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-591d19a40ea59 a {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d19a40ea59 a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d19a40ea59 h1,
.fl-builder-content .fl-node-591d19a40ea59 h2,
.fl-builder-content .fl-node-591d19a40ea59 h3,
.fl-builder-content .fl-node-591d19a40ea59 h4,
.fl-builder-content .fl-node-591d19a40ea59 h5,
.fl-builder-content .fl-node-591d19a40ea59 h6,
.fl-builder-content .fl-node-591d19a40ea59 h1 a,
.fl-builder-content .fl-node-591d19a40ea59 h2 a,
.fl-builder-content .fl-node-591d19a40ea59 h3 a,
.fl-builder-content .fl-node-591d19a40ea59 h4 a,
.fl-builder-content .fl-node-591d19a40ea59 h5 a,
.fl-builder-content .fl-node-591d19a40ea59 h6 a {
	color: #ffffff;
}

.fl-node-591d19a40ea59 > .fl-row-content-wrap {
	background-color: #005691;
	background-color: rgba(0,86,145, 1);
}




.fl-node-591d19b46bc6a {
	color: #ffffff;
}
.fl-builder-content .fl-node-591d19b46bc6a *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-heading-text):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-591d19b46bc6a a {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d19b46bc6a a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-591d19b46bc6a h1,
.fl-builder-content .fl-node-591d19b46bc6a h2,
.fl-builder-content .fl-node-591d19b46bc6a h3,
.fl-builder-content .fl-node-591d19b46bc6a h4,
.fl-builder-content .fl-node-591d19b46bc6a h5,
.fl-builder-content .fl-node-591d19b46bc6a h6,
.fl-builder-content .fl-node-591d19b46bc6a h1 a,
.fl-builder-content .fl-node-591d19b46bc6a h2 a,
.fl-builder-content .fl-node-591d19b46bc6a h3 a,
.fl-builder-content .fl-node-591d19b46bc6a h4 a,
.fl-builder-content .fl-node-591d19b46bc6a h5 a,
.fl-builder-content .fl-node-591d19b46bc6a h6 a {
	color: #ffffff;
}

.fl-node-591d19b46bc6a > .fl-row-content-wrap {
	background-color: #333333;
	background-color: rgba(51,51,51, 1);
}




.fl-node-590ffe489c1ee {
	width: 100%;
}










		
		
.fl-node-590ffeba6feff {
	width: 100%;
}










		
		
.fl-node-590fff3febabe {
	width: 50%;
}










		
		
.fl-node-590fff3febadd {
	width: 50%;
}










		
		
.fl-node-590fff848be60 {
	width: 100%;
}










		
		
.fl-node-591d06ea5842e {
	width: 50%;
}










		
		
.fl-node-591d06ea58449 {
	width: 50%;
}










		
		
.fl-node-591000457d04c {
	width: 50%;
}










		
		
.fl-node-591000457d089 {
	width: 50%;
}










		
		
.fl-node-591d0f747791a {
	width: 100%;
}










		
		
.fl-node-591288299cf32 {
	width: 50%;
}

.fl-node-591288299cf32 {
	color: #ffffff;
}
.fl-builder-content .fl-node-591288299cf32 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-heading-text):not(.fl-menu-mobile-toggle) {
	color: inherit;
}

.fl-builder-content .fl-node-591288299cf32 a {
	color: #ffffff;
}

.fl-builder-content .fl-node-591288299cf32 a:hover {
	color: #ffffff;
}

.fl-builder-content .fl-node-591288299cf32 h1,
.fl-builder-content .fl-node-591288299cf32 h2,
.fl-builder-content .fl-node-591288299cf32 h3,
.fl-builder-content .fl-node-591288299cf32 h4,
.fl-builder-content .fl-node-591288299cf32 h5,
.fl-builder-content .fl-node-591288299cf32 h6,
.fl-builder-content .fl-node-591288299cf32 h1 a,
.fl-builder-content .fl-node-591288299cf32 h2 a,
.fl-builder-content .fl-node-591288299cf32 h3 a,
.fl-builder-content .fl-node-591288299cf32 h4 a,
.fl-builder-content .fl-node-591288299cf32 h5 a,
.fl-builder-content .fl-node-591288299cf32 h6 a {
	color: #ffffff;
}






		
		
.fl-node-591288299cf43 {
	width: 50%;
}










		
		
.fl-node-59113817d654e {
	width: 50%;
}










		
		
.fl-node-59113817d65db {
	width: 100%;
}










		
		
.fl-node-59113817d6587 {
	width: 33.33%;
}










		
		
.fl-node-59113817d6595 {
	width: 33.33%;
}










		
		
.fl-node-59113817d65a3 {
	width: 33.33%;
}










		
		
.fl-node-59113817d655d {
	width: 50%;
}










		
		
.fl-node-591139f03350b {
	width: 25%;
}










		
		
.fl-node-591139f033525 {
	width: 75%;
}










		
		
.fl-node-59113b7ad74f1 {
	width: 50%;
}










		
		
.fl-node-59113b7ad74fe {
	width: 50%;
}










		
		
.fl-module-heading .fl-heading {
	padding: 0 !important;
	margin: 0 !important;
}.fl-node-590ffea3d373f.fl-module-heading .fl-heading {
	text-align: center;
			}
.fl-node-590ffed811009.fl-module-heading .fl-heading {
	text-align: center;
			}
 .fl-node-590ffed811009 > .fl-module-content {
	margin-top:50px;
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-node-590ffed811009 > .fl-module-content { margin-top:20px; } } .fl-node-590ffef09f1e0 > .fl-module-content {
	margin-top:10px;
}
.fl-node-590fff0c600d5.fl-module-heading .fl-heading {
	text-align: center;
			}
 .fl-node-590fff0c600d5 > .fl-module-content {
	margin-top:80px;
}
@media (max-width: 768px) { .fl-node-590fff0c600d5 > .fl-module-content { margin-top:20px; } }@media (max-width: 768px) { /* Mobile Photo */
.fl-photo-content {
	width: 100%;
} }.fl-node-590fffcbf3511.fl-module-heading .fl-heading {
	text-align: center;
			}
 .fl-node-590fffcbf3511 > .fl-module-content {
	margin-top:60px;
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-node-590fffcbf3511 > .fl-module-content { margin-top:20px; } }a.pp-button,
a.pp-button:visited {
	display: inline-block;
	overflow: hidden;
    position: relative;
	text-decoration: none;
	text-shadow: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear;
}
.pp-button:hover {
	text-decoration: none;
}
.pp-button:active {
	position: relative;
	top: 1px;
}
.pp-button-width-full .pp-button {
	display: block;
	text-align: center;
}
.pp-button-width-custom .pp-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.pp-button-left {
	text-align: left;
}
.pp-button-center {
	text-align: center;
}
.pp-button-right {
	text-align: right;
}
.pp-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.pp-button i.pp-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.pp-button-has-icon .pp-button-text {
	vertical-align: middle;
}

.pp-button-wrap a.pp-button:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.pp-button .dashicons,
.pp-button .dashicons-before:before {
	font-size: inherit;
	height: auto;
	width: auto;
}
@media (max-width: 768px) { .fl-module-button .pp-button-left,
.fl-module-button .pp-button-right {
	text-align: center;
}
 }.fl-node-591d0cd6a023a .pp-button-wrap a.pp-button,
.fl-node-591d0cd6a023a .pp-button-wrap a.pp-button:visited {
	text-decoration: none;
		line-height: 1.6;
	padding-top: 5px ;
	padding-bottom: 5px ;
	padding-left: 10px ;
	padding-right: 10px ;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 2px #ee3823;
	border-style: solid;
	
		width: 280px;
	
		background: #d6d6d6;

				background: transparent;
		
		
	}
.fl-node-591d0cd6a023a a.pp-button .pp-button-text {
	font-size: 15px;
	letter-spacing: 0px;
}

.fl-node-591d0cd6a023a .pp-button .pp-button-icon {
	font-size: 16px;
}

.fl-node-591d0cd6a023a a.pp-button,
.fl-node-591d0cd6a023a a.pp-button:visited,
.fl-node-591d0cd6a023a a.pp-button *,
.fl-node-591d0cd6a023a a.pp-button:visited * {
	color: #ee3823;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.fl-node-591d0cd6a023a .pp-button-wrap a.pp-button:hover,
.fl-node-591d0cd6a023a .pp-button-wrap a.pp-button:focus {
	text-decoration: none;
			background: #e5e5e5;
	
		border-color: #ee3823;
	
	}

.fl-node-591d0cd6a023a a.pp-button:hover,
.fl-node-591d0cd6a023a a.pp-button:focus,
.fl-node-591d0cd6a023a a.pp-button:hover *,
.fl-node-591d0cd6a023a a.pp-button:focus * {
	color: #ee3823;
}


@media only screen and ( max-width: 768px ) {
	.fl-node-591d0cd6a023a .pp-button-wrap.pp-button-left {
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.fl-node-591d0cd6a023a .pp-button-wrap {
		text-align: center !important;
	}
}

 .fl-node-591d0cd6a023a > .fl-module-content {
	margin-bottom:160px;
	margin-left:20px;
}
@media (max-width: 768px) { .fl-node-591d0cd6a023a > .fl-module-content { margin-bottom:20px; } }.fl-node-591d0d70d47f2 .pp-button-wrap a.pp-button,
.fl-node-591d0d70d47f2 .pp-button-wrap a.pp-button:visited {
	text-decoration: none;
		line-height: 1.6;
	padding-top: 5px ;
	padding-bottom: 5px ;
	padding-left: 10px ;
	padding-right: 10px ;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 2px #ee3823;
	border-style: solid;
	
		width: 280px;
	
		background: #d6d6d6;

				background: transparent;
		
		
	}
.fl-node-591d0d70d47f2 a.pp-button .pp-button-text {
	font-size: 15px;
	letter-spacing: 0px;
}

.fl-node-591d0d70d47f2 .pp-button .pp-button-icon {
	font-size: 16px;
}

.fl-node-591d0d70d47f2 a.pp-button,
.fl-node-591d0d70d47f2 a.pp-button:visited,
.fl-node-591d0d70d47f2 a.pp-button *,
.fl-node-591d0d70d47f2 a.pp-button:visited * {
	color: #ee3823;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.fl-node-591d0d70d47f2 .pp-button-wrap a.pp-button:hover,
.fl-node-591d0d70d47f2 .pp-button-wrap a.pp-button:focus {
	text-decoration: none;
			background: none;
	
		border-color: #ee3823;
	
	}

.fl-node-591d0d70d47f2 a.pp-button:hover,
.fl-node-591d0d70d47f2 a.pp-button:focus,
.fl-node-591d0d70d47f2 a.pp-button:hover *,
.fl-node-591d0d70d47f2 a.pp-button:focus * {
	color: #ee3823;
}


@media only screen and ( max-width: 768px ) {
	.fl-node-591d0d70d47f2 .pp-button-wrap.pp-button-left {
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.fl-node-591d0d70d47f2 .pp-button-wrap {
		text-align: center !important;
	}
}

 .fl-node-591d0d70d47f2 > .fl-module-content {
	margin-bottom:160px;
}
@media (max-width: 768px) { .fl-node-591d0d70d47f2 > .fl-module-content { margin-bottom:20px; } }.fl-node-591000457d05f.fl-module-heading .fl-heading {
	text-align: left;
		font-size: 24px;
			}
 .fl-node-591000457d05f > .fl-module-content {
	margin-top:100px;
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-node-591000457d05f > .fl-module-content { margin-top:20px; } } .fl-node-591000457d078 > .fl-module-content {
	margin-top:10px;
}
/* Wrappers */
body.rtl .fl-module-content-slider .bx-viewport {
	direction: ltr;
}
.fl-module-content-slider .bx-wrapper {
	margin: 0 auto 40px;
}
.fl-content-slider {
	position: relative;
}
.fl-content-slider .fl-slide {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	visibility: hidden;
}
.fl-content-slider-wrapper .fl-slide:first-child,
.fl-content-slider-loaded .fl-slide {
	position: relative;
	visibility: visible;
}

/* Controls */
.bx-wrapper .bx-controls-direction a {
	z-index: 99;
}

/* Background Photo */
.fl-content-slider .fl-slide-bg-photo {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.fl-content-slider .fl-slide-bg-photo-img {
	display: none;
}

/* Background Link */
.fl-content-slider .fl-slide-bg-link {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

/* Foreground Photo/Video */
.fl-slide-photo {
	position: relative;
	text-align: center;
	z-index: 2;
}
.fl-slide-text-left .fl-slide-photo-wrap {
	float: right;
}
.fl-slide-text-center .fl-slide-photo-wrap {
	text-align: center;
}
.fl-slide-text-center .fl-slide-photo-wrap img {
	margin: 0 auto;
}
.fl-slide-text-right .fl-slide-photo-wrap {
	float: left;
}

/* Mobile Photo/Video */
.fl-slide-mobile-photo {
	display: none;
}
.fl-slide-mobile-photo-img  {
	width: 100%;
}

/* Title and Text Position */
.fl-slide-content {
	position: relative;
	z-index: 2;
}
.fl-slide-text-left .fl-slide-content-wrap {
	float: left;
	text-align: left;
}
.fl-slide-text-center .fl-slide-content-wrap {
	margin: 0 auto;
	text-align: center;
}
.fl-slide-text-right .fl-slide-content-wrap {
	float: right;
	text-align: left;
}

/* Title and Text Style */
.fl-slide-title,
.fl-slide-text > * {
	line-height: 1.4;
	margin: 0 0 20px !important;
	padding: 0 !important;
}
.fl-slide-text > *:last-child {
	margin: 0 !important;
}

/* Buttons */
.fl-slide-cta-button {
	padding-top: 24px;
}

.fl-content-slider-navigation{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 20;
	margin-top: -16px;
}
.fl-content-slider-navigation a{
	position: absolute;
	display: inline-block;
	opacity: .7;
}
.fl-content-slider-navigation a:hover{ opacity: 1; }

.fl-content-slider-navigation .slider-prev{ left: 5px; }
.fl-content-slider-navigation .slider-next{ right: 5px; }

.fl-content-slider-navigation .fl-content-slider-svg-container{
	position: relative;
	width: 32px;
	height: 32px;
}
.fl-content-slider-navigation svg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.fl-content-slider-navigation path{ 
	fill: #fff;
}
.fl-content-slider-navigation a.disabled,
.bx-controls a.disabled {
	pointer-events: none;
}

/* IE Fixes */
.fl-builder-ie-11 .fl-content-slider-navigation {
	z-index: 55;
}@media (max-width: 768px) { /* Wrapper */
.fl-content-slider,
.fl-content-slider .fl-slide {
	min-height: 0 !important;
}

/* Background Photo */
.fl-content-slider .fl-slide-bg-photo {
	background-image: none;
	position: static;
}
.fl-content-slider .fl-slide-bg-photo a {
	position: static;
}
.fl-content-slider .fl-slide-bg-photo-img {
	border: none;
	display: block;
	padding: 0;
}

/* Foreground Photo/Video */
.fl-slide-photo-wrap {
	display: none;
}

/* Mobile Photo/Video */
.fl-slide-mobile-photo {
	display: block;
}

/* Title and Text Position */
.fl-slide-text-left .fl-slide-content-wrap,
.fl-slide-text-right .fl-slide-content-wrap {
	float: none;
	text-align: center;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content-wrap,
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
	min-height: 0;
	width: auto;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
	margin: 0 !important; 
	padding: 30px;
}

/* Title and Text Style */
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-title {    
	font-size: 26px !important; 
	line-height: 38px !important;
}
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text,
.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {    
	font-size: 14px !important; 
	line-height: 22px !important;
}

/* Buttons */
.fl-builder-content .fl-module-content-slider .fl-slide a.fl-button {    
	padding: 10px 20px !important;
} }.fl-node-591d101306732 .fl-content-slider,
.fl-node-591d101306732 .fl-slide {
	min-height: 400px;
}
.fl-node-591d101306732 .fl-slide-foreground {
	margin: 0 auto;
	max-width: 1300px;
}
.fl-node-591d101306732 .fl-slide-0 .fl-slide-content-wrap { width: 90%; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-content { margin-right: 60px; margin-left: 60px; margin-top: 60px; margin-bottom: 60px; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-title, .fl-node-591d101306732 .fl-slide-0 .fl-slide-text, .fl-node-591d101306732 .fl-slide-0 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-text strong { color: inherit; }@media (max-width: 768px) { .fl-node-591d101306732 .fl-slide-0 .fl-slide-title, .fl-node-591d101306732 .fl-slide-0 .fl-slide-text, .fl-node-591d101306732 .fl-slide-0 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-text strong { color: inherit; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-content { background-color: transparent; }.fl-node-591d101306732 .fl-slide-0 .fl-slide-title, .fl-node-591d101306732 .fl-slide-0 .fl-slide-text { text-shadow: none; } }.fl-node-591d101306732 .fl-slide-1 .fl-slide-content-wrap { width: 90%; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-content { margin-right: 60px; margin-left: 60px; margin-top: 60px; margin-bottom: 60px; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-title, .fl-node-591d101306732 .fl-slide-1 .fl-slide-text, .fl-node-591d101306732 .fl-slide-1 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-text strong { color: inherit; }@media (max-width: 768px) { .fl-node-591d101306732 .fl-slide-1 .fl-slide-title, .fl-node-591d101306732 .fl-slide-1 .fl-slide-text, .fl-node-591d101306732 .fl-slide-1 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-text strong { color: inherit; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-content { background-color: transparent; }.fl-node-591d101306732 .fl-slide-1 .fl-slide-title, .fl-node-591d101306732 .fl-slide-1 .fl-slide-text { text-shadow: none; } }.fl-node-591d101306732 .fl-slide-2 .fl-slide-content-wrap { width: 90%; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-content { margin-right: 60px; margin-left: 60px; margin-top: 60px; margin-bottom: 60px; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-title, .fl-node-591d101306732 .fl-slide-2 .fl-slide-text, .fl-node-591d101306732 .fl-slide-2 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-text strong { color: inherit; }@media (max-width: 768px) { .fl-node-591d101306732 .fl-slide-2 .fl-slide-title, .fl-node-591d101306732 .fl-slide-2 .fl-slide-text, .fl-node-591d101306732 .fl-slide-2 .fl-slide-text * { color: #ffffff; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-text strong { color: inherit; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-content { background-color: transparent; }.fl-node-591d101306732 .fl-slide-2 .fl-slide-title, .fl-node-591d101306732 .fl-slide-2 .fl-slide-text { text-shadow: none; } } .fl-node-591d101306732 > .fl-module-content {
	margin-top:100px;
}
@media (max-width: 768px) { .fl-node-591d101306732 > .fl-module-content { margin-top:20px; } } .fl-node-591288299cf52 > .fl-module-content {
	margin-top:40px;
	margin-bottom:0px;
}
@media (max-width: 768px) { .fl-node-591288299cf52 > .fl-module-content { margin-top:20px; } }.fl-icon-group .fl-icon {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Left */
.fl-icon-group-left {
	text-align: left;
}

/* Center */
.fl-icon-group-center {
	text-align: center;
}

/* Right */
.fl-icon-group-right {
	text-align: right;
}.fl-node-591288299cf60 .fl-module-content .fl-icon i,
.fl-node-591288299cf60 .fl-module-content .fl-icon i:before {
		font-size: 16px;
	height: auto;
	width: auto;
		}
.fl-node-591288299cf60 .fl-module-content .fl-icon i:hover,
.fl-node-591288299cf60 .fl-module-content .fl-icon i:hover:before,
.fl-node-591288299cf60 .fl-module-content .fl-icon a:hover i,
.fl-node-591288299cf60 .fl-module-content .fl-icon a:hover i:before {
			}
.fl-node-591288299cf60 .fl-module-content .fl-icon-text {
	height: 28px;
}
	
			.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) i:before {
						color: #ffffff;
									background: #;
					}
				.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) i:hover,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) i:hover:before,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) a:hover i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(1) a:hover i:before {
						color: #;
									background: #;
					}
		
			.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) i:before {
						color: #ffffff;
									background: #;
					}
				.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) i:hover,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) i:hover:before,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) a:hover i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(2) a:hover i:before {
						color: #;
									background: #;
					}
		
			.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) i:before {
						color: #ffffff;
									background: #;
					}
				.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) i:hover,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) i:hover:before,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) a:hover i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(3) a:hover i:before {
						color: #;
									background: #;
					}
		
			.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) i:before {
						color: #ffffff;
									background: #;
					}
				.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) i:hover,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) i:hover:before,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) a:hover i,
		.fl-node-591288299cf60 .fl-module-content .fl-icon:nth-child(4) a:hover i:before {
						color: #;
									background: #;
					}
	
/* Left */
.fl-node-591288299cf60 .fl-icon-group-left .fl-icon {
	margin-right: 10px;
}

/* Center */
.fl-node-591288299cf60 .fl-icon-group-center .fl-icon {
	margin-left: 10px;
	margin-right: 10px;
}

/* Right */
.fl-node-591288299cf60 .fl-icon-group-right .fl-icon {
	margin-left: 10px;
} .fl-node-591288299cf60 > .fl-module-content {
	margin-top:0px;
	margin-right:20px;
	margin-bottom:0px;
	margin-left:20px;
}
 .fl-node-591288299cf72 > .fl-module-content {
	margin-top:20px;
	margin-bottom:0px;
}
.fl-node-59113817d65e9.fl-module-heading .fl-heading {
	text-align: left;
			}
.fl-node-591142dd059f4.fl-module-heading .fl-heading {
	text-align: left;
		font-size: 14px;
			}
.fl-node-591142dd059f4 h6.fl-heading a,
.fl-node-591142dd059f4 h6.fl-heading .fl-heading-text,
.fl-node-591142dd059f4 h6.fl-heading .fl-heading-text *,
.fl-row .fl-col .fl-node-591142dd059f4 h6.fl-heading .fl-heading-text {
	color: #ee3823;
}
 .fl-node-591142dd059f4 > .fl-module-content {
	margin-top:0px;
	margin-right:20px;
	margin-bottom:0px;
	margin-left:20px;
}
 .fl-node-59113817d65f7 > .fl-module-content {
	margin-top:0px;
}
 .fl-node-591139f033572 > .fl-module-content {
	margin-top:40px;
	margin-bottom:40px;
}
@media (max-width: 768px) { .fl-node-591139f033572 > .fl-module-content { margin-top:20px;margin-bottom:20px; } } .fl-node-59113b7ad750b > .fl-module-content {
	margin-top:50px;
	margin-bottom:50px;
}
@media (max-width: 768px) { .fl-node-59113b7ad750b > .fl-module-content { margin-top:20px;margin-bottom:20px; } }
		
		
		
		
		
		
		
		
		
		
/* Column Extended Settings CSS*/

				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
/* Column End Extended Settings CSS*/
/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1
}

.uabb-top-row-separator {
    top: -1px;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: -1px
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -1px;
    top: auto;
    width: 100%;
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
     -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *
 ***************************************/

.uabb-row-separator.uabb-cloud-separator svg {
    left: -1px;
    width: 100%;
}

.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}

.uabb-row-separator.uabb-round-split {
    z-index: 1;
    /*position: relative;*/

}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    z-index: 10;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
    color: #333;
}*/

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}






/*  Translate Button styles */
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container, 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container, 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container,
.uabb-adv-accordion-content .mejs-container {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
	
	 
	
	
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
	 
	
			
	
	
	
	}


/* Responsive Js Breakpoint Css */

#uabb-js-breakpoint { 
	content:"default"; 
	display:none;
}
@media screen and (max-width: 992px) {
	#uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	#uabb-js-breakpoint {
		content:"768";
	}
}



                                                                .fl-node-591d19919d26d > .fl-row-content-wrap {
                        background-color: #461048;
                        background-image: -webkit-linear-gradient(left, #461048 0%, #ee3823 100%);
                        background-image: -moz-linear-gradient(right, #461048 0%, #ee3823 100%);
                        background-image: -o-linear-gradient(right, #461048 0%, #ee3823 100%);
                        background-image: -ms-linear-gradient(right, #461048 0%, #ee3823 100%);
                        background-image: linear-gradient(to right, #461048 0%, #ee3823 100%);
                    }
                                                                                                        
        
                                
        
                                
        
                                
        
                                
        
                                
        
                                
        
                                
        
                                
        
                                
        
                                
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                                                                                                
        .fl-node-590ffe489c1ee .fl-col-content {
                                                                                                }

        
        .fl-node-590ffeba6feff .fl-col-content {
                                                                                                }

        
        .fl-node-590fff3febabe .fl-col-content {
                                                                                                }

        
        .fl-node-590fff3febadd .fl-col-content {
                                                                                                }

        
        .fl-node-590fff848be60 .fl-col-content {
                                                                                                }

        
        .fl-node-591d06ea5842e .fl-col-content {
                                                                                                }

        
        .fl-node-591d06ea58449 .fl-col-content {
                                                                                                }

        
        .fl-node-591000457d04c .fl-col-content {
                                                                                                }

        
        .fl-node-591000457d089 .fl-col-content {
                                                                                                }

        
        .fl-node-591d0f747791a .fl-col-content {
                                                                                                }

        
        .fl-node-591288299cf32 .fl-col-content {
                                                                                                }

        
        .fl-node-591288299cf43 .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d654e .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d65db .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d6587 .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d6595 .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d65a3 .fl-col-content {
                                                                                                }

        
        .fl-node-59113817d655d .fl-col-content {
                                                                                                }

        
        .fl-node-591139f03350b .fl-col-content {
                                                                                                }

        
        .fl-node-591139f033525 .fl-col-content {
                                                                                                }

        
        .fl-node-59113b7ad74f1 .fl-col-content {
                                                                                                }

        
        .fl-node-59113b7ad74fe .fl-col-content {
                                                                                                }

        
        
            .fl-node-590ffe489c1ee .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-590ffeba6feff .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-590fff3febabe .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-590fff3febadd .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-590fff848be60 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591d06ea5842e .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591d06ea58449 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591000457d04c .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591000457d089 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591d0f747791a .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591288299cf32 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591288299cf43 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d654e .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d65db .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d6587 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d6595 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d65a3 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113817d655d .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591139f03350b .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-591139f033525 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113b7ad74f1 .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        
        
            .fl-node-59113b7ad74fe .fl-col-content {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
                -webkit-transition: -webkit-box-shadow 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
                -moz-transition: -moz-box-shadow 500ms ease-in-out, -moz-transform 500ms ease-in-out;
                transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
                will-change: box-shadow;
            }

            
        